DEBUG=
SECRET_KEY=
SERVER_PORT=

# these are not required if the app is in debug
DATABASE_HOSTNAME=
DATABASE_PORT=
DATABASE_PASSWORD=   
DATABASE_NAME=



SECRET_KEY=2da59394aaeec50d2ef5e84ab3eb4ccb97b7c18498d9322b5b882de1ec98
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

