DEBUG=True
SECRET_KEY=14d6bc2c28a2935eb905a88c
SERVER_PORT=5005
SERVICE_LOCATION=

DATABASE_HOSTNAME=localhost
DATABASE_PORT=5432
DATABASE_PASSWORD=password123   
DATABASE_NAME=promostandards


SECRET_KEY=2da59394aaeec50d2ef5e84ab3eb4ccb97b7c18498d9322b5b882de1ec98
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

