DEBUG=
SECRET_KEY=
SERVER_PORT=

# these are not required if the app is in debug
DATABASE_HOSTNAME=
DATABASE_PORT=
DATABASE_PASSWORD=   
DATABASE_NAME=



SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

